{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'pages/pics/favicon.ico' %}" type="image/x-icon">
    
    {% block title %}
        {% if page_name %}
            <title>{{ page_name }} | NanostringSpatialOmics</title>
        {% else %}
            <title>NanostringSpatialOmics</title>
        {% endif %}
        <style>
            th {
                color: #008000;
                text-align: center;
            }
        </style>
    {% endblock %}

    {% block docmeta %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/nanostringStyling.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/bootstrapStyling.css' %}">
</head>
<body class="text-barlow-regular">

    <div class="container">
        {% include 'pages/mainNavigation.html' %}
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'pages/js/bootstrapStyling.js' %}"></script>
</body>

{% comment %}
{% include 'pages/footer.html' %}
{% endcomment %}

</html>