{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}
{% block docmeta %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/disease2BScanVectorized.css' %}"/>
{% endblock %}
{% block content %}



<div class="container border shadow-lg my-5 pb-5 rounded-lg bg-white" style="overflow: auto">
	<h1 class="text-center text-info m-1 text-barlow-regular">Disease2BScan</h1>

	<div class="row media mx-auto">
		<div class="col pt-4 mx-1 px-0">
			<img src="{% static 'pages/pics/disease2bscan_raw.png' %}" class="align-self-center" style="width: 100%" alt="disease2bscan_raw" />
			<div class="media-body my-0 pt-0 pb-2">
				<p class="text-center text-info text-barlow-light my-0 py-0">georeferenced disease2bscan image</p>
			</div>
		</div>
		<div class="col pt-4 mx-1 px-0">
			<img src="{% static 'pages/pics/disease2bscan_singleband.png' %}" class="align-self-center" style="width: 100%" alt="disease2bscan_singleband" />
			<div class="media-body my-0 pt-0 pb-2">
				<p class="text-center text-info text-barlow-light my-0 py-0">singleband of disease2bscan image</p>
			</div>
		</div>
		<div class="col pt-4 mx-1 px-0">
			<img src="{% static 'pages/pics/disease2bscan_aoi.png' %}" class="align-self-center" style="width: 100%" alt="disease2bscan_aoi" />
			<div class="media-body my-0 pt-0 pb-2">
				<p class="text-center text-info text-barlow-light my-0 py-0">AOI singled out for disease2bscan image</p>
			</div>
		</div>
	</div>

	<div id="disease2BScan_map" class="mx-auto my-0"></div>
	<p class="text-center text-info text-barlow-light my-0 py-0">Vectorized Disease2BScan image showing generated AOIs</p>
	<div id="popup" class="ol-popup">
		<p class="ol-popup-closer font-weight-bold" id="popup-closer"></p>
		<div id="popup-content"></div>
	</div>
</div>

<script>
	const disease2BScanVectorized_geojson = '{{ disease2BScanVectorized_geojson|escapejs }}'
</script>
<script src="{% static 'pages/js/disease2BScanVectorized.js' %}"></script>


{% endblock %}
