{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}

{% block docmeta %}

{% endblock %}

{% block content %}



    {% comment %}Sample Annotations{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Sample Annotations</h3>
            <div class="row my-sm-0 py-sm-0">

                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">DATA for the Annotations of ROIs (i.e. samples) in files 3-5.</p>
                </div>


                <div class="col-sm-8">
                    {% if sample_annotations %}
                    
                    <h2 class="text-center"><small class="lead">Subset of Kidney Sample Annotations data</small></h2>

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead class="text-center text-success">
                                <tr>
                                    <th>#</th>
                                    <th>Slide Name</th>
                                    <th>Scan Name</th>
                                    <th>ROI Label</th>
                                    <th>Segment Label</th>
                                    <th>Segment Display Name</th>
                                    <th>AOI Surface Area</th>
                                    <th>AOI Nuclei Count</th>
                                    <th>ROI Coordinate X</th>
                                    <th>ROI Coordinate Y</th>
                                    <th>Raw Reads</th>
                                    <th>Trimmed Reads</th>
                                    <th>Stitched Reads</th>
                                    <th>Aligned Reads</th>
                                    <th>Duplicated Reads</th>
                                    <th>Sequencing Saturation</th>
                                    <th>UMIQ30</th>
                                    <th>RTSQ30</th>
                                    <th>Disease Status</th>
                                    <th>Pathology</th>
                                    <th>Region</th>
                                    <th>LOQ</th>
                                    <th>Normalization Factor</th>
                                    <th>Geom</th>
                                </tr>
                            </thead>

                            <tbody>
                                
                                {% for data in sample_annotations %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.slide_name }}</td>
                                        <td>{{ data.scan_name }}</td>
                                        <td>{{ data.roi_label }}</td>
                                        <td>{{ data.segment_label }}</td>
                                        <td>{{ data.segment_display_name }}</td>
                                        <td>{{ data.aoi_surface_area }}</td>
                                        <td>{{ data.aoi_nuclei_count }}</td>
                                        <td>{{ data.roi_coordinate_x }}</td>
                                        <td>{{ data.roi_coordinate_y }}</td>
                                        <td>{{ data.raw_reads }}</td>
                                        <td>{{ data.trimmed_reads }}</td>
                                        <td>{{ data.stitched_reads }}</td>
                                        <td>{{ data.aligned_reads }}</td>
                                        <td>{{ data.duplicated_reads }}</td>
                                        <td>{{ data.sequencing_saturation }}</td>
                                        <td>{{ data.umiq_30 }}</td>
                                        <td>{{ data.rtsq_30 }}</td>
                                        <td>{{ data.disease_status }}</td>
                                        <td>{{ data.pathology }}</td>
                                        <td>{{ data.region }}</td>
                                        <td>{{ data.loq }}</td>
                                        <td>{{ data.normalization_factor }}</td>
                                        <td>{{ data.geom }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:sample_annotations_analysis_page' %}">
                            Sample Annotations analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:list_sample_annotation_page' %}">
                        Update Sample Annotations
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_sampleannotation_page' %}">
                        Re-Upload Sample Annotations
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">Sample Annotations data not yet Uploaded!</h3>
                        </div>
                        <div class="py-2 py-sm-2 my-2">
                            <a class="btn btn-outline-dark" href="{% url 'pages:upload_sampleannotation_page' %}">
                            Upload Sample Annotations
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    



    {% comment %}Probe Expression{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Probe Expression</h3>
            <div class="row my-sm-0 py-sm-0">
                <div class="col-sm-8">
                    {% if kidney_raw_bioProbeCountMatrix %}
                    
                    <h2 class="text-center"><small class="lead">DataFrame Head for KidneyRawBioProbeCountMatrix data</small></h2>

                    <div class="mx-auto mb-sm-3 table-responsive" style="overflow: auto;">
                        {{ probe_expression_dataframe|safe }}
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:probe_expression_analysis_page' %}">
                            Probe Expression analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Re-Upload CSV data
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">Kidney Raw BioProbeCountMatrix data not yet Uploaded!</h3>
                            <p class="">
                                The individual entries of this data will not be strored in the DB but the file as a whole.
                            </p>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Upload CSV
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">DATA of Raw counts of targets and negative probes.</p>
                    <p class="lead text-info">Rows are probes and columns are samples.</p>
                </div>

            </div>
        </div> 
    </div>




    {% comment 'Target Expressions' %}Target Expressions{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Target Expression</h3>
            <div class="row">
                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">In this panel, only the negative
                        has multiple probes, and therefore is the only target count aggregated.
                    </p>
                    <p class="lead text-info">Rows are targets and columns are samples.</p>
                </div>

                <div class="col-sm-8">
                    {% if kidney_raw_target_count_matrix %}
                    
                    <h2 class="text-center"><small class="lead">DataFrame Head for KidneyRawTargetCountMatrix data</small></h2>

                    <div class="mx-auto mb-sm-3 table-responsive" style="overflow: auto;">
                        {{ target_expression_dataframe|safe }}
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:target_expression_analysis_page' %}">
                            Target Expression analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Re-Upload CSV data
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">KidneyRawTargetCountMatrix data not yet Uploaded!</h3>
                            <p class="">
                                The individual entries of this data will not be strored in the DB but the file as a whole.
                            </p>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Upload CSV
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    {% comment 'Normalized Expressions' %}Normalized Expressions{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Normalized Expression</h3>
            <div class="row">
                <div class="col-sm-8">
                    {% if kidney_q3_norm_target_count_matrix %}
                    <h2 class="text-center"><small class="lead">DataFrame Head for KidneyRawTargetCountMatrix data</small></h2>

                    <div class="mx-auto my-sm-3 table-responsive" style="overflow: auto;">
                        {{ normalized_expression_dataframe|safe }}
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:normalized_expression_analysis_page' %}">
                            Normalized Expression analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                        Re-Upload CSV data
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">KidneyQ3NormTargetCountMatrix data not yet Uploaded!</h3>
                            <p class="">
                                The individual entries of this data will not be strored in the DB but the file as a whole.
                            </p>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Upload CSV
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">
                        75th percentile normalized counts. Only ROIs and genes that passed QC are included.
                    </p>
                    <p class="lead text-info">Rows are targets and columns are samples.</p>
                </div>
            </div>
        </div>
    </div>



    {% comment %}Single Sample GSEA Results{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Single Sample GSEA Results</h3>
            <div class="row">

                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">
                        Known groups of genes that work concordantly to perform a biological function
                        are surveyed for enrichment of over- or under-expressed genes within each
                        sample.
                    </p>
                    <p class="lead text-info">Rows are known gene sets and columns are samples.</p>
                    <p class="lead text-info">Values are abundance scores of biological pathways in AOIs.</p>
                </div>

                <div class="col-sm-8">
                    {% if Kidneyss_GSEA %}
                    <h2><small class="lead">DataFrame Head for Kidneyss_GSEA data</small></h2>

                    <div class="mx-auto mb-sm-3 table-responsive" style="overflow: auto;">
                        {{ single_sample_gsea_results_dataframe|safe }}
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:kidneyssGSEA_analysis_page' %}">
                            Kidneyss_GSEA Analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                        Re-Upload CSV data
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">Kidneyss_GSEA data not yet Uploaded!</h3>
                            <p class="">
                                The individual entries of this data will not be strored in the DB but the file as a whole.
                            </p>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Upload CSV
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% comment %}Feature Annotations{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Feature Annotations</h3>

            <div class="row">
                <div class="col-sm-8">
                    {% if Kidney_Feature_Annotations %}
                    <h2><small class="lead">DataFrame Head for KidneyFeatureAnnotations data</small></h2>

                    <div class="mx-auto mb-sm-3 table-responsive" style="overflow: auto;">
                        {{ feature_annotations_dataframe|safe }}
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:feature_annotations_analysis_page' %}">
                            Kidney Feature Annotations analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                        Re-Upload CSV data
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">KidneyFeatureAnnotations data not yet Uploaded!</h3>
                            <p class="">
                                The individual entries of this data will not be strored in the DB but the file as a whole.
                            </p>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Upload CSV
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">Feature Annotations</p>
                </div>
                
            </div>
        </div>
    </div>


    {% comment %}Average Gene Expression{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">

            <h3 class="text-success text-center my-0 py-0">Average Gene Expression</h3>
            <div class="row">
                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">Average gene expression for each cell type cluster in #10.</p>
                    <p class="lead text-info">Rows are cell types and columns are samples.</p>
                    <p class="lead text-info">Values are gene counts expected in a cell type X.</p>
                </div>

                <div class="col-sm-8">
                {% if average_gene_expression %}
                    <h2><small class="lead">DataFrame Head for Average Gene Expression data</small></h2>

                    <div class="mx-auto mb-sm-3 table-responsive" style="overflow: auto;">
                        {{ average_gene_dataframe|safe }}
                    </div>

                    <div class="py-2 py-sm-2">
                        <a class="btn btn-outline-success my-2" href="{% url 'pages:average_gene_expression_analysis_page' %}">
                            AverageGeneExpression Analysis
                        </a>
                        <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                        Re-Upload CSV data
                        </a>
                    </div>
                {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">Young_kidney_cell_profile_matrix data not yet Uploaded!</h3>
                            <p class="">
                                The individual entries of this data will not be strored in the DB but the file as a whole.
                            </p>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_csvs_page' %}">
                            Upload CSV
                            </a>
                        </div>
                    </div>
                {% endif %}
                </div>
            
                
            </div>
        </div>
    </div>



    {% comment %}Cell Deconvolution{% endcomment %}
    <div class="container-fluid my-sm-5 py-sm-4 shadow-sm">
        <div class="data_sections">
            <h3 class="text-success text-center my-0 py-0">Cell Deconvolution</h3>

            <div class="row">

                <div class="col-sm-8">
                    {% if cell_types %}
                        <div class="pb-2 pb-sm-2">
                            <h2><small class="lead">Subset of Cell Annotations (Cell Types) data</small></h2>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <thead class="text-center text-success">
                                    <tr>
                                        <th>#</th>
                                        <th>Cluster ID</th>
                                        <th>Alias</th>
                                        <th>Dataset</th>
                                        <th>Number of Cells</th>
                                        <th>Cell Type 1</th>
                                        <th>Cell Type 2</th>
                                        <th>Cell Type 3</th>
                                        <th>Cell Type Specific</th>
                                        <th>Cell Type General</th>
                                        <th>Cluster Name</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    
                                    {% for data in cell_types %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ data.cluster_id }}</td>
                                            <td>{{ data.alias }}</td>
                                            <td>{{ data.data_set }}</td>
                                            <td>{{ data.number_of_cells }}</td>
                                            <td>{{ data.cell_type1 }}</td>
                                            <td>{{ data.cell_type2 }}</td>
                                            <td>{{ data.cell_type3 }}</td>
                                            <td>{{ data.cell_type_specific }}</td>
                                            <td>{{ data.cell_type_general }}</td>
                                            <td>{{ data.cluster_name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-success my-2" href="{% url 'pages:cell-types-analysis_page' %}">
                                Cell Types detailed statistical analysis
                            </a>
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:list_cell_type_page' %}">
                            Update Cell Types
                            </a>
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_celltype_page' %}">
                            Re-Upload Cell Types
                            </a>
                        </div>
                    {% else %}
                    <div class="mt-sm-4 p-4">
                        <div class="pb-2 pb-sm-2">
                            <h3 class="text-info">Cell Annotations data not yet Uploaded!</h3>
                        </div>
                        <div class="py-2 py-sm-2">
                            <a class="btn btn-outline-dark my-2" href="{% url 'pages:upload_celltype_page' %}">
                            Upload Cell Types
                            </a>
                        </div>
                    </div>
                    {% endif %}
                
                </div>


                <div class="col-sm-4 p-sm-5">
                    <p class="lead text-info">Cell matrix expression in #11 was used to estimate the cell populations and
                        abundance within an AOI.
                    </p>
                    <p class="lead text-info">Rows are cell types and columns are samples.</p>
                    <p class="lead text-info">Values are abundance scores of cell types in AOIs.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'pages/js/nanostring_homepage_style.js' %}"></script>



{% endblock %}

