{% extends 'pages/base_template.html' %}
{% load static %}
{% load humanize %}

{% block docmeta %}
{{ pie_script|safe }}
{{ b_graph_script|safe }}
{% endblock %}

{% block content %}
    {% if csv_obj %}

    
        <div class="container shadow-lg rounded-lg my-sm-5 py-sm-2 bg-light">
            <div class="my-4">

                <div class="py-sm-2">
                    <h3 class="text-center text-success">{{ page_name }} </h3>
                    {% if search_count %}
                        <p class="text-info text-center lead">
                            Found {{ search_count|apnumber }} record{{ search_count|pluralize }}
                            spanning {{ columns_count|apnumber }} column{{ columns_count|pluralize }}
                        </p>
                    {% endif %}
                </div>

                <div class="mt-sm-4 mb-sm-2 pt-sm-4">
                    <form class="form-inline my-2 my-lg-0">
                        {{ search_form }}
                        <button class="btn btn-success my-2 my-sm-0" type="submit">RTS_ID Search</button>
                    </form>
                </div>
                
                {% if search_record_table %}
                <div class="shadow-sm table-responsive border my-sm-5 p-4" style="max-height: 80vh;">
                    <p class="text-success text-center lead">Search Record for RTS_ID {{ search_value }}</p>
                    {{ search_record_table|safe }}
                </div>
                {% endif %}

                <div class="shadow-sm table-responsive border my-sm-5 p-4">
                    <p class="text-success text-center lead">Feature Annotations Dataframe Head</p>
                    {{ df_head|safe }}
                </div>

                <div class="shadow-sm table-responsive border my-sm-5 p-4">
                    <p class="text-success text-center lead">Feature Annotations Dataframe grouped by Negative</p>
                    {{ data_DF_describe_table|safe }}
                </div>
                

                <div class="row my-sm-5">
                    <div class="mx-auto p-sm-2" style="overflow: auto;">
                        {{ pie_div|safe }}
                    </div>
                </div>
                

                <div class="row my-sm-5">
                    <div class="mx-auto p-sm-2" style="overflow: auto;">
                        {{ b_graph_div|safe }}
                    </div>
                </div>
                
                

            </div>
            
        </div>
    {% else %}
        <div class="py-sm-2">
            <h3 class="text-center text-warning">No Feature Annotations data to display yet!</h3>
        </div>
    {% endif %}


<script src="{% static 'pages/bokeh/bokeh-2.3.0.min.js' %}"></script>
{% endblock %}