  <nav class="navbar navbar-expand-lg navbar-light">
    <span class="navbar-brand">NanostringSpatialOmics</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:home_page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:download_data_page' %}">Download Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:upload_csvs_page' %}">Upload CSVs</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Spatial Data
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'pages:disease2b_scan_page' %}">Disease 2B Scan</a>
            <a class="dropdown-item" href="{% url 'pages:normal2b_scan_page' %}">Normal 2B Scan</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:data_categories_page' %}">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:foss_licenses_page' %}">FOSS Licenses</a>
        </li>
      </ul>
    </div>
  </nav>