{% extends 'pages/base_template.html' %}
{% load static %}
{% load humanize %}

{% block content %}

{% if messages %}
    <div class="container my-4">
        {% for message in messages %}
            <h4{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message|safe }}</h4>
        {% endfor %}
    </div>

{% endif %}

<div class="container my-4">
    <a class="btn btn-outline-dark" href="../">
        Previous Page
    </a>
    <a class="btn btn-outline-dark" href="{% url 'pages:home_page' %}">
        Home Page
    </a>
</div>

{% endblock %}