{% extends 'pages/base_template.html' %}
{% load static %}
{% load humanize %}


{% block content %}
    {% if csv_obj %}
    
        <div class="container shadow-lg rounded-lg my-sm-5 py-sm-2">
            <div class="my-4">

                <div class="py-sm-2">
                    <h3 class="text-center text-success">{{ page_name }}</h3>
                    {% if search_count %}
                        <p class="text-info text-center lead">
                            Found {{ search_count|apnumber }} record{{ search_count|pluralize }}
                            spanning {{ columns_count|apnumber }} column{{ columns_count|pluralize }}
                        </p>
                    {% endif %}
                </div>
                

                <div class="py-2 py-sm-4">
                    <form class="form-inline my-2 my-lg-0">
                        {{ search_form }}
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                

                {% if search_record %}
                <div class="shadow-sm table-responsive border my-sm-5" style="max-height: 80vh;">
                    <p class="text-success text-center lead">Search Record for ProbeName {{ search_value }}</p>
                    {{ search_record|safe }}
                </div>
                {% endif %}

                <div class="shadow-sm table-responsive border my-sm-5" style="max-height: 80vh;">
                    <p class="text-success text-center lead">DataFrame Description for Probe Expression</p>
                    {{ data_DF_describe_table|safe }}
                </div>


            </div>
            
        </div>
    {% else %}
        <div class="py-sm-2">
            <h3 class="text-center text-warning">No Probe Expression data in the database yet!</h3>
        </div>
    {% endif %}

{% endblock %}