{% extends 'pages/base_template.html' %}
{% load static %}
{% load humanize %}

{% block docmeta %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/sample_annotation_map.css' %}">
{{ script_pie_chart|safe }}
{{ script_scatter|safe }}
{{ script_star_plot|safe }}
{% endblock %}


{% block content %}
    {% if sample_annotations %}
    
        <div class="container shadow-lg rounded-lg my-sm-5 py-sm-2">
            <div class="my-4">

                <div class="py-sm-2">
                    <h3 class="text-center text-success">{{ page_name }}</h3>
                </div>

                <div class="py-2 py-sm-4">
                    <form class="form-inline my-2 my-lg-0">
                        {{ sample_annotations_search_form }}
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                {% if search_count %}
                <div class="container">
                    <p class="text-info lead">
                        Found {{ search_count|apnumber }} record{{ search_count|pluralize }}
                    </p>
                </div>
                {% endif %}

                <div class="shadow-sm table-responsive border my-sm-5 p-4" style="max-height: 40vh;">
                    <table class="table table-bordered table-striped">
                        <thead class="text-center text-success">
                            <tr>
                                <th>ID</th>
                                <th>Slide Name</th>
                                <th>Scan Name</th>
                                <th>ROI Label</th>
                                <th>Segment Label</th>
                                <th>Segment Display Name</th>
                                <th>AOI Surface Area</th>
                                <th>AOI Nuclei Count</th>
                                <th>ROI Coordinate X</th>
                                <th>ROI Coordinate Y</th>
                                <th>Raw Reads</th>
                                <th>Trimmed Reads</th>
                                <th>Stitched Reads</th>
                                <th>Aligned Reads</th>
                                <th>Duplicated Reads</th>
                                <th>Sequencing Saturation</th>
                                <th>UMIQ30</th>
                                <th>RTSQ30</th>
                                <th>Disease Status</th>
                                <th>Pathology</th>
                                <th>Region</th>
                                <th>LOQ</th>
                                <th>Normalization Factor</th>
                                <th>Geom</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            {% for data in sample_annotations %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.slide_name }}</td>
                                    <td>{{ data.scan_name }}</td>
                                    <td>{{ data.roi_label }}</td>
                                    <td>{{ data.segment_label }}</td>
                                    <td>{{ data.segment_display_name }}</td>
                                    <td>{{ data.aoi_surface_area }}</td>
                                    <td>{{ data.aoi_nuclei_count }}</td>
                                    <td>{{ data.roi_coordinate_x }}</td>
                                    <td>{{ data.roi_coordinate_y }}</td>
                                    <td>{{ data.raw_reads }}</td>
                                    <td>{{ data.trimmed_reads }}</td>
                                    <td>{{ data.stitched_reads }}</td>
                                    <td>{{ data.aligned_reads }}</td>
                                    <td>{{ data.duplicated_reads }}</td>
                                    <td>{{ data.sequencing_saturation }}</td>
                                    <td>{{ data.umiq_30 }}</td>
                                    <td>{{ data.rtsq_30 }}</td>
                                    <td>{{ data.disease_status }}</td>
                                    <td>{{ data.pathology }}</td>
                                    <td>{{ data.region }}</td>
                                    <td>{{ data.loq }}</td>
                                    <td>{{ data.normalization_factor }}</td>
                                    <td>{{ data.geom }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="my-4">

                <div class="shadow-sm table-responsive border my-sm-5 p-4">
                    <p class="text-success text-center lead">DataFrame Description for Sample Annotations</p>
                    {{ data_DF_describe_table|safe }}
                </div>
                

                <div class="mt-sm-4 mb-sm-2 pt-sm-4">
                    <form class="form-inline my-2 my-lg-0">
                        {{ quantile_search_form }}
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Quantile Search</button>
                    </form>
                </div>

                {% if quantile_search_table %}
                <div class="shadow-sm table-responsive border mb-sm-5 p-4" style="max-height: 80vh;">
                    <p class="text-success text-center lead">Values at {{ quantile_search_percentage }}% Quantile for Sample Annotations</p>
                    {{ quantile_search_table|safe }}
                </div>
                {% endif %}


                <div class="shadow-sm table-responsive border my-sm-5 p-4">
                    <p class="text-success text-center lead">Stats Summary When Grouped by Disease Status</p>
                    {{ disease_status_group_describe_table|safe }}
                </div>


                <div class="col-sm-12 mx-auto mb-5" style="overflow: auto;">
                    <h1 class="text-center text-info lead m-1 font-weight-bolder">
                        Spatial Distribution of kidney sample annotations
                    </h1>
                    <div id="sampleannotation_map" class="w-75 mx-auto my-sm-2"></div>
                    <div id="mapcontent" class="w-75 mx-auto bg-light my-sm-2" style="min-height: 120px;"></div>
                </div>


                <div class="row my-sm-5">
                    <div class="mx-auto mb-5" style="overflow: auto;">
                        {{ div_scatter|safe }}
                    </div>
                </div>

                
                <div class="row my-sm-5">
                    <div class="mx-auto mb-5" style="overflow: auto;">
                        {{ div_pie_chart|safe }}
                    </div>
                </div>

                <div class="row my-sm-5">
                    <div class="mx-auto mb-5" style="overflow: auto;">
                        {{ div_star_plot|safe }}
                    </div>
                </div>


            </div>

        </div>
    {% else %}
        <div class="py-sm-2">
            <h3 class="text-center text-warning">No Sample Annotations records yet!</h3>
        </div>
    {% endif %}

<script>
  const sampleAnnotationsVectorGeoson = "{{ sample_annotations_vector_geoson|escapejs }}";
</script>
<script src="{% static 'pages/js/sample_annotation_map.js' %}"></script>
<script src="{% static 'pages/bokeh/bokeh-2.3.0.min.js' %}"></script>
<script src="{% static 'pages/bokeh/bokeh-widgets-2.3.0.min.js' %}"></script>

{% endblock %}