{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}

{% block docmeta %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/disease2BScanVectorized.css' %}">
{% endblock %}

{% block content %}

<div class="col-sm-12 mx-auto mb-5" style="overflow: auto">
    <h1 class="text-center text-info lead m-1 font-weight-bolder">Disease2BScanVectorized</h1>
    <div id="disease2BScan_map" class="w-75 mx-auto my-sm-4"></div>
    <div id="popup" class="ol-popup">
        <p class="ol-popup-closer font-weight-bold" id="popup-closer"></p>
        <div id="popup-content"></div>
    </div>
</div>

<script>
  const disease2BScanVectorized_geojson = "{{ disease2BScanVectorized_geojson|escapejs }}";
  const mapLon = "{{ map_lon }}";
  const mapLat = "{{ map_lat }}";
</script>
<script src="{% static 'pages/js/disease2BScanVectorized.js' %}"></script>


{% endblock %}