
{% extends 'pages/base_template.html' %}
{% load static %}
{% load humanize %}

{% block docmeta %}
{{ elbow_script|safe }}
{{ cluster_script|safe }}
{% endblock %}

{% block content %}

<div class="container mt-sm-4 mb-sm-2 p-5 bg-white">
    <form class="form-inline my-2 my-lg-0">
        {{ cluster_points_form }}
        <button class="btn btn-success my-2 my-sm-0" type="submit">Plot</button>
    </form>

    {% if model_summary %}
    <div class="p-5">
        <p class="text-info font-weight-bold">Model Summary</p>
        {% for summary in model_summary %}
            <p class="lead">
                <span class="font-weight-bold">Cluster Centers: </span>{{ summary.cluster_centers }}
            </p>
            <p class="lead">
                <span class="font-weight-bold">Inertia (WCSS): </span>{{ summary.inertia }}
            </p>
            <p class="lead">
                <span class="font-weight-bold">No. of iterations: </span>{{ summary.iterations }}
            </p>
        {% endfor %}
    </div>
    {% endif %}

</div>


{{ elbow_div|safe }}




<script src="{% static 'pages/bokeh/bokeh-2.3.0.min.js' %}"></script>
{% endblock %}