{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}
{% block content %}

<div class="container shadow-lg rounded-lg bg-white">
  <div class="py-2 py-sm-4">
    <h3 class="text-center text-success">Upload CSV file</h3>
  </div>

  <div class="row my-sm-2 p-sm-4">

    <div class="col-md-5 p-4 border border-info rounded-lg">
      {% if all_raw_csv_files %}
      <p class="text-info lead mb-3">
        {{ csv_files_count|apnumber|capfirst }} File{{ csv_files_count|pluralize }} Already Uploaded.
      </p>
      {% endif %} {% for file in all_raw_csv_files %}
      <p class="text-success lead mb-3">{{ forloop.counter }}. {{ file.file_name }}</p>

      {% empty %}
      <p class="text-warning lead mb-3">No Files Uploaded yet.</p>
      {% endfor %}
    </div>

    <div class="col-md-7 p-4 rounded-lg">
      <p class="text-info lead mb-3">
        Ensure that the File Name and the File uploaded match.
      </p>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %} {% for form in uploadForm %}
        <p class="text-danger">{{ form.errors }}</p>
        <p>{{ form.label_tag }}</p>
        <p>{{ form }}</p>
        {% endfor %}
        <button class="btn btn-info" type="submit">Upload</button>
      </form>
    </div>

  </div>
</div>

{% endblock %}
