.text-error {
  color: red;
}

.light-Aqua-BG {
  background-color: #efffff;
}

#sampleannotation_map, #cell_spatial_map {
  margin: 0;
  width: 100%;
  height: 500px;
  font-family: sans-serif;
}

#sampleannotation_map{
  background-color: rgb(230, 250, 255);
}

#cell_spatial_map{
  background-color: rgb(250, 250, 250);
}