{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}
{% block content %}

<div class="container p-4 shadow-lg rounded-lg bg-white">
    

    <div class="container row">
    {% for item in object_list %}
        <div class="list-group my-sm-2 col-sm-4">
            <p class="font-weight-bold text-info">{{ forloop.counter }}. {{ item.get_name_display }}</p>
            <p class="text-info">{{ item.description }}</p>
            {% for spec_item in item.rawcsvfiles_set.all %}
            <div class="bg-light" style="min-height: 50px; max-height: 50px; overflow-x:scroll; overflow-y:scroll;">
                <p class="font-weight-bold text-info">{{ forloop.counter }}. {{ spec_item.name }}</p>
            </div>
            {% empty %}
                <p class="text-warning text-center">No CSVs data here yet!</p>
            {% endfor %}
            <a class="btn btn-outline-primary" href="{% url 'pages:update_data_categories_page' item.name %}">
                Edit
            </a>
        </div>
    {% empty %}
        <h2 class="text-warning">No Categories yet!</h2>
    {% endfor %}
    </div>

    <div class="w-75 mx-auto py-5">
        <a href="{% url 'pages:set_data_categories_page' %}">Add new Category</a>
    </div>
</div>

{% endblock %}