{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}
{% block content %}

<div class="container p-4 shadow-lg rounded lg">
    <div class="w-75 mx-auto">
        <h2 class="text-success p-sm-4">Choose Feature Annotation to Update</h2>
    </div>

    <div class="container row">
    {% for item in object_list %}
        <div class="list-group my-sm-2 col-sm-4">
            <a href="{% url 'pages:update_feature_annotation_page' item.rts_id %}" class="list-group-item list-group-item-action w-75 mx-auto">
                {{ item.rts_id }}
            </a>
        </div>
    {% empty %}
        <h2 class="text-warning">No Sample Annotations yet!</h2>
    {% endfor %}
    </div>
        <div class="container p-sm-4 my-sm-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="mx-sm-1" href="?page=1">&laquo; first</a>
                    <a class="mx-sm-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="mx-sm-4 font-weight-bold">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class="mx-sm-1" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="mx-sm-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>

{% endblock %}