{% extends 'pages/base_template.html' %} {% load static %} {% load humanize %}
{% block content %}

<div class="container p-4 shadow-lg rounded lg">
    <div class="w-75 mx-auto">
        <h2 class="text-success p-sm-4">Choose Sample Annotation to Update</h2>
    </div>

    <div class="container row">
    {% for item in object_list %}
        <div class="list-group my-sm-2 col-sm-4">
            <a href="{% url 'pages:update_sample_annotation_page' item.slug %}" class="list-group-item list-group-item-action w-75 mx-auto">
                {{ item.slug }}
            </a>
        </div>
    {% empty %}
        <h2 class="text-warning">No Sample Annotations yet!</h2>
    {% endfor %}
    </div>
</div>

{% endblock %}